.app {
    display: flex;
    width: 100%;
}


/* Left sidebar */

.left-sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: white;
    min-width: 150px;
    background-color: rgb(33, 40, 51);

    transition: 0.3s left;
}

.left-sidebar--visible {
    left: 0;
}

.left-sidebar__toolbar {
    color: rgba(255,255,255, 0.5);
    background-color:  rgb(33, 40, 51);
    padding: 15px;
}


/* Sidebar navigation item */

.sidebar-navigation-item a:active,
.sidebar-navigation-item a:visited,
.sidebar-navigation-item {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: 0.5s background-color;
}

.sidebar-navigation-item--active,
.sidebar-navigation-item:hover {
    background-color: rgb(194, 37, 37);
}


/* Main section */

.main-section {
    width: 100%;
}

.main-section--with-left-sidebar {
    margin-left: 300px;
}

.main-section__toolbar {
    color: white;
    background-color: rgb(47, 55, 68);
    padding: 15px;
}

.main-section__content {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}
